body {
    position: relative;
}

span {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 5px;
}

#container {
    display: flex;
    flex-direction: column;
}

#option {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

#tag {
    flex: 3;
    height: 40px;
    border: solid 1px #ccc;
    border-right: 0;
    outline: none;
}

#save {
    flex: 1;
    height: 40px;
    cursor: pointer;
    border: none;
    color: #ffffff;
    font-size: large;
    background-color: #0096fa;
    outline: none;
    transition: 0.3s;
}

#save:hover {
    background-color: #0086e0;
}

#preview #previewImage {
    width: 100%;
    border: 1px solid #ccc;
    background-color: #f4f4f4;
}

#status {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    transition: 0.3s;
}

#status svg {
    width: 40px;
    height: 40px;
    margin-right: 5px;
    fill: #0096fa;
}

#status span {
    font-size: 2.0em;
    font-weight: bold;
    color: #0096fa;
}

.hide {
    opacity: 0;
    visibility: hidden;
}

.show {
    opacity: 1;
    visibility: visible;
}